@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;400;800&family=Lato&display=swap');

/* 
font-family: 'JetBrains Mono', monospace;
font-family: 'Lato', sans-serif;
*/

/* html {
    background: #ACACDE;
} */

.parent-bg {
    background: #ACACDE;
    font-family: 'JetBrains Mono', monospace;
    color: #E5FCFF;
    min-height: 100vh;
}

.hero>h2,
.hero>p {
    font-family: 'JetBrains Mono', monospace;
    margin-left: 100px;
}

.table-parent {
    width: 100%;
    text-align: center;
}

.table-parent th {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    border: 1px solid black;
    width: 200px;
}

.table-parent td {
    border: 1px solid black;
}

.table-parent img {
    height: 25px;
    margin: 10px;
}

.btn-cont {
    display: flex;
    justify-content: center;
}

.my-btn {
    font-size: larger;
    background-color: #0d118c;
    color: #E5FCFF;
    border-radius: 5px;
    border: 2px solid #ACACDE;


    padding: 0 10%;
}

.my-btn:hover {
    transition-duration: 1s;
    background-color: #460d8c;
}

.part-time {
    background: #ABDAFC;
    color: #B8336A;
}

/* .pink-table {
    background: #C490D1;
} */

label {
    position: relative;
    width: 100%;
    z-index: 1;
}

span {
    padding: 2px;
    border: 1px solid black;
}

.modal-header {
    background: #B8336A !important;
}

.modal-body {
    background: #B8336A;
}
.modal-btn {
    font-size: larger;
    background-color: #0d118c;
    color: #E5FCFF;
    border-radius: 5px;
    border: 0 transparent;
    width: 90px;
    margin-top: -20px;
}
.modal-btn:hover {
    transition-duration: 1s;
    background-color: #460d8c;
}

.edit-btn  {
    border: transparent;
    background: transparent;
/* display: table; */
/* margin: 0 !important; */
}
.edit-btn:hover {
    scale: 1.2;

    transition-duration: 150ms;
}