@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;400;800&family=Lato&display=swap');

/* 
font-family: 'JetBrains Mono', monospace;
font-family: 'Lato', sans-serif;
*/

html {
    background: #ACACDE;
}
.parent-bg {
    background: #ACACDE;
    font-family: 'JetBrains Mono', monospace;
    color: #E5FCFF;
    
    
}

.hero {
    margin: 2% 0;
    border-radius: 10px;
    padding: 2%;
    background: #8e8eba;

}
.hero>h2,
.hero>p {
    font-family: 'JetBrains Mono', monospace;
    margin-left: 15%;
}

.table-parent {
    width: 100%;
    text-align: center;
}

.table-parent th {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    border: 1px solid black;
    width: 200px;
}

.table-parent td {
    border: 1px solid black;
}

.table-parent img {
    height: 25px;
    margin: 10px;
}

.btn-cont {
    display: flex;
    justify-content: center;
}

.my-btn {
    font-size: larger;
    background-color: #0d118c;
    color: #E5FCFF;
    border-radius: 5px;
    border: 2px solid transparent;


    padding: 0 10%;
    transition-duration: 100ms;
}

.my-btn:hover {
    box-shadow: 0 0 15px black;
    transition-duration: 100ms;
    background-color: #460d8c;
    scale: 1.1;
}

.part-time {
    background: #ABDAFC;
    color: #B8336A;
}

/* .pink-table {
    background: #C490D1;
} */

label {
    position: relative;
    z-index: 1;
}

.example {
    padding: 2px;
    border: 1px solid black;
}

.modal-header {
    background: #B8336A !important;
}

.modal-body {
    background: #B8336A;
}
.modal-btn {
    font-size: larger;
    background-color: #0d118c;
    color: #E5FCFF;
    border-radius: 5px;
    border: 0 transparent;
    width: 90px;
    margin-top: -20px;
    transition-duration: 100ms;
}
.modal-btn:hover {
    transition-duration: 100ms;
    scale: 1.1;
    background-color: #460d8c;
    box-shadow: 0 0 10px black;
}

.edit-btn  {
    border: transparent;
    background: transparent;
    transition-duration: 150ms;
/* display: table; */
/* margin: 0 !important; */
}
.edit-btn:hover {
    scale: 1.2;

    transition-duration: 150ms;
}
.form-control {
background: transparent !important;
border: none !important;
border-bottom: 1px solid white !important;
border-radius: 0px !important;
color: #E5FCFF !important;
}
::placeholder {
    color: #E5FCFF !important;
}

/* footer {

        --s: 140px; 
        --c: #170409; 
        
        --_g: #0000 52%,var(--c) 54% 57%,#0000 59%;
        background: 
         radial-gradient(farthest-side at -33.33% 50%,var(--_g)) 0 calc(var(--s)/2),
         radial-gradient(farthest-side at 50% 133.33%,var(--_g)) calc(var(--s)/2) 0,
         radial-gradient(farthest-side at 133.33% 50%,var(--_g)),
         radial-gradient(farthest-side at 50% -33.33%,var(--_g)),
         #67917A; 
        background-size: calc(var(--s)/4.667) var(--s),var(--s) calc(var(--s)/4.667);
        bottom: 0;
      position: absolute;
      width: 100%;
} */
.footer-cont{
    position: absolute;
    width: 100%;
    bottom: 0;
}

.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
    /*Fix for safari gap*/
    min-height: 100px;
    max-height: 400px;
  }
  /* Animation */
  .parallax>use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
  }
  .parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  @keyframes move-forever {
    0% {
      transform: translate3d(-90px, 0, 0);
    }
    100% {
      transform: translate3d(85px, 0, 0);
    }
  }
  /*Shrinking for mobile*/

  /*Other*/
  
  .unique-color-dark {
    background-color: #7289da !important;
  }
  
  .bg-light {
    background-color: #7289DA !important;
  }
  

  
  .custom-color {
    background-color: #7289DA !important
  }
  #footerLogo, i {
    height: 1vw;

}


  